<div id="load" class="load">
    <div>
        <a href="/settings" class="configButton">
            <img src="/static/images/settings.png" alt="config" width="40" height="40">
        </a>
    </div>
    {% for item in values.keys() %}
        <div class="card">
            <h1>{{values[item].name}}</h1>
            <div class="content">
                <div class="content_values">
                    <p>Última atualização: {{values[item].last_update}}</p>
                    <h2>{{values[item].value}} {{values[item].unit}}</h2>
                </div>
                <img class="content_img" src="{{values[item].image_location}}" alt="{{values[item].image_alt}}">
            </div>
            <button class="openGraph{{item}}">
                <p>Ver Gráfico</p>
                <img src="/static/images/chart.svg" alt="Gráfico">
            </button>
        </div>
    {% endfor %}
    <dialog class="dialog">
        <button class="dialogClose" autofocus>Close</button>
        <canvas class="chart" id="myChart"></canvas>
    </dialog>

    <script>
        let dialogs = {}
        const dialog = document.querySelector("dialog");
        const closeButton = document.querySelector("dialog button");
        const ctx = document.getElementById('myChart');

        
        async function getItens(value, name, unit) {
            await fetch('/getmultdata/' + value)
            .then(response => response.json())
            .then(data => {
                new Chart(ctx, {
                    type: 'line',
                    data: {
                    labels: Object.keys(data),
                    datasets: [{
                        label: name + ' (' + unit + ')',
                        data: Object.values(data),
                        borderWidth: 1
                    }]
                    },
                    options: {
                    scales: {
                        y: {
                        beginAtZero: false
                        }
                    }
                    }
                });
            })
            dialog.showModal();
        }
    </script>
    
    {% for item in values.keys() %}
        <script>
            dialogs['{{item}}'] = document.querySelector(".openGraph{{item}}");
            // const showButton = document.querySelector(".openGraph{{item}}");
            
            // "Show the dialog" button opens the dialog modally
            dialogs['{{item}}'].addEventListener("click", () => {
                getItens('{{item}}', '{{values[item].name}}', '{{values[item].unit}}')
            });
            
            // "Close" button closes the dialog
            closeButton.addEventListener("click", () => {
            dialog.close();
            location.reload(true);
            });
        </script>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>